.div{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin-right: 2rem;
  padding: 0 1rem;
  width: 200px;
}

.div button{
  background: #F9E7D6;
  border: none;
  cursor: pointer;
  
}

.div svg > *{
  fill: #FF301A;
}