.footer{
  background-color: #d32f2f;
  height: 50px;
  color: white;
  font-weight: bold;
}

.footer p{
  padding: 10px 0 0 10px;
}

@media (max-width: 50rem) {
  .footer p{
    text-align: center;
  }
}